<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Акции{% endblock %} - Businesstep.ru</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <section id="wrapper">
            <header id="header">
                <div class="top">
                    {% block navigation %}
                        <nav>
                            <ul class="navigation">
                                <li><a href="{{ path('akcii_akcii_akcii') }}">Акции</a></li>
                                <li><a href="{{ path('akcii_akcii_services') }}">Услуги</a></li>
                                <li><a href="#">Товары</a></li>
                            </ul>
                        </nav>
                    {% endblock %}
                </div>

            </header>

            <section class="main-col">
                {% block body %}{% endblock %}
            </section>
            <aside class="sidebar">
                {% block sidebar %}{% endblock %}
            </aside>

            <div id="footer">
                {% block footer %}
                    Акции Товары Услуги - разработано в <a href="https://businesstep.ru">Businesstep.ru</a> 
                {% endblock %}
            </div>
        </section>

        {% block javascripts %}
            <script src="http://code.angularjs.org/1.1.5-angular_ru/angular.min.js"></script>
        {% endblock %}
    </body>
</html>
